@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: linear-gradient(180deg, #96d4ee 0%, #439fc6 100%);

  color: #1a140d;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 56px;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #1e392e;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 0px 80px;
  gap: 34px;
  border-bottom: 1px solid #ffa500;
  background: #1e392e;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #fdfdfd;
}
.navigation__link:hover,
.navigation__link:focus {
  padding: 12px 24px 12px 24px;
  border: 2px solid #ffa500;
  border-radius: 80px;
  color: #ffa500;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header {
    display: none;
  }

  .header {
    width: 100%;

    height: 64px;
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 100px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    border: none;
  }
  .navigation__link {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 12px 21px;
    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;

  padding: 0px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  margin: auto;
  background: #1e392e url("/img/home/Frame%2029.png");
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-text {
  font-family: Atma;
  font-size: 20px;
  font-weight: 500;
  line-height: 32.38px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fdfdfd;

  padding: 551px 0 24px;
}
.home-button-container {
  display: flex;
  gap: 24px;
  flex-direction: column;
  margin: auto;
}
.home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 272px;
  height: 56px;
  border-radius: 24px;
  background: #ffa500;

  box-shadow: 1px 2px 4px 0px #fdfdfd4d;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #1a140d;
  text-decoration: none;
}
.home-button-two {
  background: #82c8e5;

  backdrop-filter: blur(24px);
}
@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 900px;
    padding: 229px 0px 0 0;
    background-image: url("/img/home/1_Home.png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: space-between;
  }

  .home-text {
    font-family: Atma;
    font-size: 32px;
    font-weight: 500;
    line-height: 51.81px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fdfdfd;
    padding: 24px 80px 24px;
    width: 661px;
    height: 152px;
    margin-top: 55px;
    border-radius: 0px 100px 100px 0;
    background: #1e392e;
  }
  .home-button-container {
    display: flex;
    gap: 32px;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    margin: 0;
  }
  .home-button-container-two {
    width: 359px;
    height: 144px;
    padding: 44px 48px;
    border-radius: 100px 0px 0px 100px;

    background: #1e392e;
  }
  .home-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 208px;
    height: 56px;
    border-radius: 24px;
  }
}
.why {
  width: 375px;
  height: 1270px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/why/howToPlay_mob.png");
  margin: auto;
  padding: 40px 0px;
}

.why-list {
  padding-top: 22px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.why-item {
  width: 312px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.why-text-bold {
  font-family: Atma;
  font-size: 20px;
  font-weight: 500;
  line-height: 32.38px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  height: 48px;
  padding: 8px 12px;
  border-radius: 16px;
  background: #ffa500;
  display: inline-flex;

  margin: auto;
  margin-bottom: -16px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  position: relative;
  z-index: 10;
}
.why-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fdfdfd;
  background: #61321d;
  width: 220px;
  height: 104px;
  padding: 16px;
  border-radius: 24px;
  margin-bottom: -16px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  position: relative;
  z-index: 9;
}
.why-img {
  margin: auto;
  width: 312px;
}
@media screen and (min-width: 1200px) {
  .why {
    width: 1440px;
    height: 710px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/why/5_HowToPlay.png");
    margin: auto;
    padding: 64px 0px 0;
  }

  .why-list {
    padding-top: 32px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
  }
  .why-item {
    width: 360px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .why-text-bold {
    font-family: Atma;
    font-size: 24px;
    font-weight: 500;
    line-height: 38.86px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    height: 59px;
    padding: 10px 16px;
    border-radius: 16px;
    background: #ffa500;
    display: inline-flex;

    margin: auto;
    margin-bottom: -16px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    position: relative;
    z-index: 10;
  }
  .why-text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #fdfdfd;
    background: #61321d;
    width: 286px;
    height: 96px;
    padding: 24px;
    border-radius: 24px;
    margin-bottom: -16px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    position: relative;
    z-index: 9;
  }
  .why-img {
    margin: auto;
    width: 360px;
  }
}

.about {
  padding: 40px 0 0;
  margin: auto;
  width: 375px;
  height: 1075px;
  background-image: url("/img/about/Frame\ 30\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.about-container {
}
.about-title {
  font-family: Atma;
  font-size: 24px;
  font-weight: 500;
  line-height: 38.86px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #ffffff;
  display: inline-flex;
  padding: 21px 24px;
  background: #1e392e;
  border-radius: 0px 100px 100px 0px;
}

.about-text {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 314px;
  margin: auto;
  padding: 24px 0px 16px;
}
.about-text-two {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 233px;
  margin: auto;
  color: #000;
}
.about-text-three {
  color: #fdfdfd;
  font-family: Atma;
  font-size: 20px;
  font-weight: 500;
  line-height: 32.38px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: #1e392e;
  width: 193px;
  height: 48px;
  padding: 8px 32px 8px 32px;
  border-radius: 16px;
  margin: 34px auto;
}
.about-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.about-item {
  width: 270px;
  height: 200px;
  padding: 44.5px 34.5px 44.5px 42.5px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about/highl_1\ \(1\).png");
}
.about-item-text-bold {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fdfdfd;
  border-bottom: 1px solid #ffa500;
}
.about-item-text {
  padding-top: 12px;
  color: #fdfdfd;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 64px 0 0;
    margin: auto;
    width: 1440px;
    height: 899px;
    background-image: url("/img/about/Frame\ 30\ \(2\).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .about-container {
    display: flex;
    gap: 175px;
  }
  .about-title {
    font-family: Atma;
    font-size: 32px;
    font-weight: 500;
    line-height: 51.81px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    height: 144px;

    color: #ffffff;
    display: inline-flex;
    padding: 46px 80px;
    background: #1e392e;
    border-radius: 0px 100px 100px 0px;
  }

  .about-text {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 358px;
    margin: auto;
    padding: 36px 0px 24px;
  }
  .about-text-two {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 233px;
    margin: auto;
    color: #000;
  }
  .about-text-three {
    color: #fdfdfd;

    font-family: Atma;
    font-size: 24px;
    font-weight: 500;
    line-height: 38.86px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    background: #1e392e;
    width: 219px;
    height: 55px;
    padding: 8px 32px 8px 32px;
    border-radius: 16px;
    margin: 31px auto;
  }
  .about-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    width: 594px;
    margin: auto;
  }
  .about-item {
    width: 289px;
    height: 216px;

    padding: 51.5px 50.5px 50.5px 45.5px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/about/highl_1\ \(1\).png");
  }
  .about-item-text-bold {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #fdfdfd;
    border-bottom: 1px solid #ffa500;
  }
  .about-item-text {
    padding-top: 12px;
    color: #fdfdfd;

    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.features {
  padding: 40px 0px 0;
  margin: auto;
  width: 375px;
  height: 885px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/features/gameFeatures_mob.png");
}
.features-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 38px;
}
.features-item {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.features-text-bold {
  font-family: Atma;
  font-size: 20px;
  font-weight: 500;
  line-height: 32.38px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  height: 52px;
  padding: 10px 16px 10px 16px;
  border-radius: 16px;
  background: #ffa500;
  display: inline-flex;

  margin: auto;
  margin-bottom: -26px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  position: relative;
  z-index: 10;
}
.features-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fdfdfd;
  background: #61321d;
  width: 343px;
  height: 112px;
  padding: 38px 24px 30px 24px;
  border-radius: 24px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding: 64px 0px 0;
    margin: auto;
    width: 1440px;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: url("/img/features/Frame%2031.png"),
      linear-gradient(
        180deg,
        #47a2c7 0%,
        #649ba6 12.5%,
        #729896 18.75%,
        #819485 25%,
        #9d8d64 37.5%,
        #ba8643 50%,
        #c27034 75%,
        #c95a24 100%
      );
  }
  .features-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 0px;
    justify-content: end;
    align-items: end;
    margin-top: -30px;
  }
  .features-item {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
  }
  .features-item-two {
    margin-right: 175px;
  }
  .features-item-three {
    margin-right: 284px;
  }
  .features-item-four {
    margin-right: 278px;
  }

  .features-text-bold {
    font-family: Atma;
    font-size: 24px;
    font-weight: 500;
    line-height: 38.86px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    height: 52px;
    padding: 10px 16px 10px 16px;
    border-radius: 16px;
    background: #ffa500;
    display: inline-flex;

    margin: auto;
    margin-right: -50px;

    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    position: relative;
    z-index: 10;
  }
  .features-text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #fdfdfd;
    background: #61321d;
    width: auto;
    height: 120px;
    padding: 48px 48px 48px 96px;
    border-radius: 24px;
  }
}

.reviews {
  width: 375px;
  height: 1436px;
  margin: auto;
  padding: 40px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/reviews/mainCharacters_mob.png");
}

.reviews-list {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: auto;
}
.reviews-item {
  margin: auto;
  width: 320px;
  height: 420px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/reviews/elephant.png");
  padding: 40px 44px 0 43px;
}

.reviews-text-bold {
  font-family: Atma;
  font-size: 20px;
  font-weight: 500;
  line-height: 32.38px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1a140d;
  padding: 8px 24px 8px 24px;
  border-radius: 12px;
  background: #ffa500;
}
.reviews-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fdfdfd;
  padding: 12px 0 10px;
}
.reviews-img {
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    height: 794px;
    margin: auto;
    padding: 64px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/reviews/4_MainCharacters.png");
  }

  .reviews-list {
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    margin: auto;
  }
  .reviews-item {
    margin: 0;
    width: 400px;
    height: 530px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/reviews/elephant.png");
    padding: 46px 57px 0;
  }

  .reviews-text-bold {
    font-family: Atma;
    font-size: 24px;
    font-weight: 500;
    line-height: 38.86px;
    text-align: center;

    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #1a140d;
    padding: 8px 32px 8px;
    border-radius: 12px;
    background: #ffa500;
  }
  .reviews-text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #fdfdfd;
    padding: 16px 0 29px;
  }
  .reviews-img {
    margin: auto;

    height: 310px;
  }
}

.gallery {
  width: 375px;
  height: 682px;
  margin: auto;
  padding: 40px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img//gallery/gallery_mob.png");
}

.gallery__list {
  width: 245px;
  padding-top: 24px;
  margin: auto;
}
.gallery__item {
  width: 245px;
  height: 490px;

  overflow: hidden;
  position: relative;
  margin: 0 4px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slick-prev:before {
  content: url("/img/gallery/Vector\ \(3\).png");
  margin-left: -25px;
}
.slick-next:before {
  content: url("/img/gallery/Vector\ \(2\).png");
}
@media screen and (min-width: 1200px) {
  .slick-prev:before {
    display: flex;
    margin-left: -75px;
    content: url("/img/gallery/Vector.png");
  }
  .slick-next:before {
    display: flex;
    margin-left: -10px;
    content: url("/img/gallery/Vector\ \(1\).png");
  }
  .gallery {
    width: 1440px;
    height: 867px;
    margin: auto;
    padding: 74px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img//gallery/6_Gallery.png");
  }

  .gallery__item {
    overflow: hidden;
    position: relative;
    margin: 0 10px;
    width: 300px;
    height: 600px;
  }

  .gallery__list {
    margin: auto;
    padding: 0;
    width: 970px;
    margin-top: -30px;
  }
}

.footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/footer/footer_mob.png");
  width: 375px;
  height: 205px;

  margin: auto;

  padding: 32px 23px 21px;
}
.footer-container {
  display: flex;
  flex-direction: column;

  gap: 94px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: start;

  gap: 8px;
}
.footer-text {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: auto;

  color: #fdfdfd;
  width: 161px;
  height: 37px;

  padding: 8px 12px 8px 12px;
  background: #61321d;

  border-radius: 24px;
}

.footer-copyright {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1a140d;
}
.footer-wrapper-two {
  display: none;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 72px 254px 54px;
    width: 1440px;
    height: 356px;

    background-image: url("/img/footer/Footer.png");
  }
  .footer-container {
    gap: 59px;
  }
  .footer-container-two {
    display: flex;
    justify-content: space-between;
  }
  .footer-wrapper {
    flex-direction: column;
    gap: 32px;
  }
  .footer-text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: auto;
    width: 208px;
    height: 56px;
    padding: 16px;
    border-radius: 24px;
  }

  .footer-copyright {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .footer-wrapper-two {
    display: flex;
  }
  .footer-text-two {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 208px;
    height: 56px;
    text-decoration: none;
    padding: 16px;
    color: #1a140d;

    border-radius: 24px;
    background: #ffa500;
    box-shadow: 1px 2px 4px 0px #fdfdfd4d;
  }
  .footer-text-three {
    background: #82c8e5;
    box-shadow: 1px 2px 4px 0px #fdfdfd4d;
  }
}
.policy-terms-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 124px 16px 116px;
}
.policy-terms-title {
  font-family: Atma;
  font-size: 24px;
  font-weight: 500;
  line-height: 38.86px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #fdfdfd;

  background: #61321d;
  display: inline-flex;
  padding: 8px 16px;
  margin: auto;
  border-radius: 16px;
}

.policy-terms-text {
  font-family: Atma;
  font-size: 20px;
  font-weight: 500;
  line-height: 32.38px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: #1e34e0;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 186px 80px 116px;
    align-items: start;
  }
  .policy-terms-title {
    font-family: Atma;
    font-size: 32px;
    font-weight: 500;
    line-height: 51.81px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .policy-terms-text {
    font-family: Atma;
    font-size: 24px;
    font-weight: 500;
    line-height: 38.86px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-text-one {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
